<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Great Number Game</title>
</head>
<body>
    <h1 class="col-6 offset-4 mt-3">Welcome to the Great Number Game!</h1>
    <h5 class="col-6 offset-5 mt-3">I am thinking of a number between 1 and 100</h5>
    <p class="col-6 offset-6 mt-3">Take a guess</p>
    <div class="offset-5 mt-3 w-25 h-50 bg-danger p-5 border-dark" >
        <h3 class="text-center mt-3">Too High!</h3>
    </div>
    <form class="container" action="/submit" method="post">
        <input class="col-lg-1 offset-6 mt-3" type="number"  name="number">
        <input class="col-lg-1 offset-6 mt-3" type="button" name="submitBtn" value="Submit" onclick="submit()">
    </form>
    <p class="row offset-6 mt-3" style="font-size: 40px;">Attempts: {{session['attempt']}}</p>
</body>
</html>